<!DOCTYPE html>
<html>
<head>
    <title>DMT 14C: Data acquisition software - Input parameters</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='dist/css/output.css') }}" rel="stylesheet">
</head>

<body class="bg-slate-100">

    <div class="bg-blue-900 p-3">
        <p class="text-slate-50 p-4 text-3xl text-center font-bold mt-4 mb-4">DMT 14C: Aerodynamic probe and data acquisition software</p>
        <div>
            <button class="bg-blue-800 text-slate-50 rounded p-3 border-2 ml-4 mt-4" onclick="window.location.href='/'">&#8249; Back to main page</button>
        </div>
    </div>

    <div class="bg-white rounded p-3 ml-4 mr-4 mb-4">
        <div class="flex justify-between items-center">
            <form onsubmit="saveProfileData(event)" id="profileForm">
                <p class="text-xl font-bold mt-4 mb-3">Name your profile:</p> 
                <input type="text" id="profileName" name="name" class="ml-4 mb-4 border-2 p-3" size="100">

                <p class="text-xl font-bold mt-4 mb-3">Fan motor:</p> 

                <div class="grid grid-cols-5 gap-2 mb-2">
                    <input type="text" id="duty_cycle" name="duty_cycle" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Duty cycle [%]">
                    <input type="text" id="current" name="current" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Current [A]">
                    <input type="text" id="speed" name="speed" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Input speed [rpm]">
                    <input type="text" id="ramp_down_speed" name="ramp_down_speed" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Ramp down speed [rpm]">
                    <input type="text" id="ramp_up_speed" name="ramp_up_speed" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Ramp up speed [rpm]">
                </div>

                <p class="text-xl font-bold mt-4 mb-3">Linear actuator:</p> 

                <div class="grid grid-cols-5 gap-2 mb-2">
                    <input type="text" id="linear_actuator" name="linear_actuator" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Actuator position [mm]">
                </div>

                <p class="text-xl font-bold mt-4 mb-3">Rotary motor:</p> 

                <div class="grid grid-cols-5 gap-2 mb-2">
                    <input type="text" id="rotary_motor" name="rotary_motor" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Rotary position [°]">
                </div>

                <p class="text-xl font-bold mt-4 mb-3">Other parameters:</p> 

                <div class="grid grid-cols-5 gap-2 mb-2">
                    <input type="text" id="vesc_port" name="vesc_port" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="VESC Port">
                    <input type="text" id="arduino_port" name="arduino_port" class="ml-4 mb-4 border-2 p-3" size="100" placeholder="Arduino Port">
                </div>
            </form>
            <div class="text-left ml-4">
                <input type="submit" value="Submit values" class="bg-green-500 hover:bg-green-600 text-xl font-bold rounded p-3 mt-5" onclick="saveProfileData(event)">
            </div>
        </div>
    </div>
    <script>
        function saveProfileData(event) {
            event.preventDefault();

            const profileNameInput = document.getElementById('profileName');
            const profileName = profileNameInput.value.trim();

            if (profileName !== '') {
                const profileData = {
                    name: profileName,
                    duty_cycle: document.getElementById('duty_cycle').value,
                    current: document.getElementById('current').value,
                    speed: document.getElementById('speed').value,
                    ramp_down_speed: document.getElementById('ramp_down_speed').value,
                    ramp_up_speed: document.getElementById('ramp_up_speed').value,
                    linear_actuator: document.getElementById('linear_actuator').value,
                    rotary_motor: document.getElementById('rotary_motor').value,
                    vesc_port: document.getElementById('vesc_port').value,
                    arduino_port: document.getElementById('arduino_port').value
                };

                fetch('/save_profile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(profileData),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('profileForm').reset();
                        window.location.href = '/';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
</body>
</html>
